* {
  box-sizing: border-box;
}
*:focus {
  outline: 0;
}
html, body {
  height: 100%;
  background: #202020;
  color: white;
}
body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  margin: 0;
  padding: 20px;
}
select {
  padding: 10px;
  cursor: pointer;
  border: 2px solid #303030;
  border-radius: 8px;
  font-size: 3vh;
  transition: all 0.2s;
  background: transparent;
  color: white;
}
select:hover, select:focus {
  background: rgba(255, 255, 255, 0.05);
}
option {
  background: #282828;
  outline: 0;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}
option:hover {
  background: #303030;
}
.day-header, .day {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
main {
  height: 100%;
  --content-width: 10vw;
  --content-height: 13vw;
  --gutter: 5px;
  --columns: 7;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-auto-rows: var(--content-height);
  grid-column-gap: var(--gutter);
  grid-row-gap: var(--gutter);
}
.day div {
  border-radius: 100px;
  transition: all 0.3s;
  cursor: pointer;
  font-size: 4vh;
  height: 10vw;
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.day div:hover {
  background: rgba(255, 255, 255, 0.15);
}
.day.selected div {
  background: #259bff;
  color: white;
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background: #202020;
}
::-webkit-scrollbar-thumb {
  background: #303030;
  transition: all 0.3s;
  border: 5px solid #202020;
  cursor: pointer;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #505050;
}
